body {
    background-image: url(/images/station.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#dashboard {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin:  250px auto;
}
    
button {
    height: 40px;
    width: 70px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bolder;
}

#increaseButton {
    background-color: green;
}

#decreaseButton {
    background-color: red;
}

#resetButton {
    background-color: orange;
}